body {
    background-color: rgb(196, 169, 169);
}

.container {
    margin: 100px;
    text-align: center;
}

button {
    margin: 20px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(77, 45, 4);
    font-weight:lighter;
}